body {
  background-color: #d2463d;
}

.container {
  max-width: 900px;
  margin: auto;
  position: relative;
}

h2.pregunta {
  color: #fff;
  text-align: center;
  font-size: 23px;
  margin-top: 10px;
  letter-spacing: 0.5pt;
}

.candidatos {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.candidatos .candidato {
  cursor: pointer;
}

.candidatos .candidato:hover {
  transform: rotate(4deg);
}

.candidatos .candidato img {
  max-width: 100%;
}

.respuesta {
  font-size: 18px;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(14px);
  font-size: 40px;
}

.respuesta-correcta {
  color: green;
  transform: rotate(-3deg);
  text-shadow: -1px -1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000,
    -1px 1px 0 #000, 6px 4px 0 #000;
  animation-duration: 1;
}

.respuesta-incorrecta {
  color: red;
  transform: rotate(-3deg);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    6px 4px 0 #000;
  animation-duration: 1;
}

.puntos {
  position: fixed;
  bottom: 90px;
  font-size: 20px;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  left: 30px;
}

.game-over {
  font-size: 18px;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(14px);
  font-size: 40px;
}

.game-over .datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    6px 4px 0 #000;
}

.game-over .datos p {
  margin: 0;
}

.game-over .datos button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: #c90f05;
  font-size: 20px;
  cursor: pointer;
}

.game-over .datos .share-icons {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.share-container p {
  margin: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: none;
}

.btn {
  border-radius: 10px;
  margin: auto;
}
.solucion {
  color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: self-end;
  font-size: 25px;
  margin-bottom: 100px;
}
.btn-start {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  border: solid 1px;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 9px #999;
  text-align: center;
  display: inline-block;
  margin-top: 250px;
}
.btn-start:hover {
  background-color: #b1383c;
}

.btn-start:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.container-preview {
  text-align: center;
}

@media (max-width: 600px) {
  h3 {
    font-size: 17px;
    width: 100%;
  }
  h2.pregunta {
    font-size: 17px;
    line-height: 1.2;
    letter-spacing: 0.8pt;
  }
  .candidatos {
    grid-template-columns: repeat(2, 120px);
    width: 60%;
    margin: auto;
  }
  .puntos {
    position: inherit;
  }
  .respuesta {
    font-size: 20px;
  }
  .candidatos .candidato:hover {
    transform: none;
  }
  .game-over {
    font-size: 30px;
  }
  .share-container p {
    font-size: 20px;
  }
  .share-icons {
    margin-top: 15px;
  }
  .solucion {
    font-size: 18px;
  }
}
