body {
  background-color: #c90f05;
}

.container {
  max-width: 960px;
  margin: auto;
  position: relative;
}

h3 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin-bottom: 0;
}

h2.pregunta {
  color: #fff;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}

.candidatos {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 230px);
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
.candidatos .candidato {
  cursor: pointer;
}

.candidatos .candidato:hover {
  transform: rotate(4deg);
}

.candidatos .candidato img {
  max-width: 100%;
}

.respuesta {
  font-size: 18px;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(14px);
  font-size: 40px;
}

.respuesta-correcta {
  color: green;
  transform: rotate(-3deg);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 6px 4px 0 #000;
  animation-duration: 1;
}

.respuesta-incorrecta {
  color: red;
  transform: rotate(-3deg);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 6px 4px 0 #000;
  animation-duration: 1;
}

.puntos {
  position: fixed;
  bottom: 0px;
  font-size: 20px;
  padding: 10px 0;
  color: #fff;
  width: 500px;
  text-align: center;
  width: 100%;
  left: 0;
}

.game-over {
  font-size: 18px;
  color: #fff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(14px);
  font-size: 40px;
}

.game-over .datos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 6px 4px 0 #000;

}

.game-over .datos p {
  margin: 0;
}

.game-over .datos button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background-color: #fff;
  color: #c90f05;
  font-size: 20px;
  cursor: pointer;
}

.game-over .datos .share-icons {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.share-container p {
  margin: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: none;
}